<?xml version="1.0" encoding="UTF-8"?>


         
<hibernate-configuration>    
    <session-factory>    
              
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property> 
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>   
        <property name="connection.url">jdbc:mysql://localhost:3306/HibernateProjects</property>      
        <property name="connection.username">root</property>      
        <property name="connection.password">root</property>
        <property name="hbm2ddl.auto">update</property> 
           
        <property name="show_sql">true</property>  
        <!--   <mapping class="com.Maven.web.HibernateProject.StudentsBlueprint"></mapping> -->
        
        <mapping class="com.Maven.web.HibernateEcommerceWebApp.entities.User"></mapping>
        <mapping class="com.Maven.web.HibernateEcommerceWebApp.entities.Products"></mapping>
        <mapping class="com.Maven.web.HibernateEcommerceWebApp.entities.Category"></mapping>
        
    </session-factory>    
</hibernate-configuration> 